<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
	<DataCollectionRunSettings>
		<DataCollectors>
			<DataCollector friendlyName="XPlat code coverage">
				<Configuration>
					<Exclude>
						<!-- Ignora todas as classes no namespace SysAgentV2.Migrations -->
						<Type>[SysAgentV2]*Migrations.*</Type>
					</Exclude>
				</Configuration>
			</DataCollector>
		</DataCollectors>
	</DataCollectionRunSettings>
</RunSettings>
