# Build
/SysAgentV2/bin/
/SysAgentUnitTest/bin/
/SysAgentV2/obj/
/SysAgentUnitTest/obj/

# Tests
TestResults/
coveragereport/

# Database
*.db-shm
*.db-wal

# Logs
log/
logs/
Logs/

# Visual Studio
*.user
*.suo
*.cache
*.log
*.vs/*
.vs/